h1 {
  margin: 0;
}

.call-to-action {
  margin-left: 20%;
  margin-bottom: 15px;
  background-color: #462031 !important;
  color: #f7f7f3 !important;
  border: 2px 0 solid white; /* Adding a solid white border */
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6); /* Glowing white border effect */
}

#rapid-read-title {
  display: flex;
  gap: 5px;
  font-size: 32px;
  color: #f7f7f3;
  position: relative;
}

#rapid-read-title span {
  width: 40px;
  height: 10%;
  display: inline-block;
  transform-origin: center center;
  animation: wave 10s cubic-bezier(0.42, 0.5, 0.28, 0.2) infinite;
  animation-delay: calc(var(--index) * 0.4s);
  font-family: "Roboto", "Great Vibes", "Cinzel Decorative",
    "Shadows Into Light", "Pacifico", "Playfair Display", "Lobster",
    "Courier Prime", "Comic Neue", sans-serif; /* Updated Fonts */
}

@media (max-width: 700px) {
  #rapid-read-title {
    font-size: 16px; /* Even smaller font size for extra small screens */
    gap: 2px;
  }
  #rapid-read-title span {
    width: 20px;
  }
}

@keyframes wave {
  0% {
    //transform: rotateX(0deg);
    font-family: "Roboto", sans-serif;
  }
  5% {
    //transform: rotateX(45deg);
    font-family: "Great Vibes", cursive;
  }

  10% {
    //transform: rotateX(180deg);
    font-family: "Pacifico", cursive;
  }
  15% {
    //transform: rotateX(225deg);
    font-family: "Playfair Display", serif;
  }
  20% {
    //transform: rotateX(270deg);
    font-family: "Lobster", cursive;
  }
  25% {
    //transform: rotateX(315deg);
    font-family: "Courier Prime", monospace;
  }
  30% {
    //transform: rotateX(360deg);
    font-family: "Comic Neue", cursive;
  }
  35% {
    //transform: rotateX(360deg); /* Hold at the end position */
  }
  40% {
    //transform: rotateX(0deg);
    font-family: "Roboto", sans-serif;
  }
  45% {
    //transform: rotateX(45deg);
    font-family: "Great Vibes", cursive;
  }

  50% {
    //transform: rotateX(180deg);
    font-family: "Pacifico", cursive;
  }
  55% {
    //transform: rotateX(225deg);
    font-family: "Playfair Display", serif;
  }
  60% {
    //transform: rotateX(270deg);
    font-family: "Lobster", cursive;
  }
  65% {
    //transform: rotateX(315deg);
    font-family: "Courier Prime", monospace;
  }
  70% {
    //transform: rotateX(360deg);
    font-family: "Comic Neue", cursive;
  }
  75% {
    //transform: rotateX(360deg); /* Hold at the end position */
  }
  80% {
    //transform: rotateX(0deg);
    font-family: "Roboto", sans-serif;
  }
  85% {
    //transform: rotateX(45deg);
    font-family: "Great Vibes", cursive;
  }

  90% {
    //transform: rotateX(180deg);
    font-family: "Pacifico", cursive;
  }
  95% {
    //transform: rotateX(225deg);
    font-family: "Playfair Display", serif;
  }
  100% {
    //transform: rotateX(360deg); /* Hold at the end position */
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

.content-card {
  opacity: 0.2;
  transform: scale(0.8) translateX(-20px);
  transition: all 1s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: scale(1) translateX(0);
    //   animation: shake 0.5s ease-in-out;
  }
}

mat-card {
  background: rgba(
    13,
    21,
    28,
    0.5
  ); /* Use your color with more transparency for a stronger glass effect */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border for the glass edge */
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6); /* Glowing white border effect */
  margin: 15px 15px;
  color: #f7f7f3;
  width: 50%;
  margin-top: 200px;
  justify-self: center;
}

mat-card-title {
  margin-left: 10px;
  margin-top: 5px;
}

mat-card-content {
  margin-left: 10px;
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 80px;
  background-color: #0a0903;
  border: 2px 0 solid white; /* Adding a solid white border */
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); /* Glowing white border effect */
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

section {
  padding: 20px;
  background-color: #0a0903;
}

h5 {
  text-align: center;
  margin: 25px 15px;
  padding-top: 80px;
}

p {
  text-align: center;
  margin: 30px 20%;
}

.logo {
  position: fixed;
  left: 10px;
}
