<!-- reader component html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-list>
      <a class="document-selection" routerLink="document-selection">
        <mat-toolbar mat-subheader class="section-toolbar menu-item"
          >Document Selection</mat-toolbar
        >
      </a>
      <mat-toolbar mat-subheader class="section-toolbar menu-item"
        >Font Settings</mat-toolbar
      >
      <mat-toolbar mat-subheader class="section-toolbar menu-item"
        >Page Settings</mat-toolbar
      >
      <mat-form-field>
        <input matInput placeholder="Background Color" [(ngModel)]="bgColor" />
      </mat-form-field>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="hamburger-menu">
      <button mat-icon-button (click)="sidenavOpened = !sidenavOpened">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
