.sidenav-container {
  height: 100vh;
  background-color: #0a0903;
  max-width: 100vw;
}
.sidenav {
  position: absolute;
  width: 250px;
  background-color: #0a0903;
  border-radius: 0;
}
.main-content {
  padding: 20px;
}
.static-reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
h2 {
  font-size: 3rem;
  margin: 20px;
}

mat-toolbar {
  background-color: #0d151c;
  color: #f7f7f3;
  margin: 0;
}

.menu-item {
  cursor: pointer;
  color: #f7f7f3;
  border: 2px solid #f7f7f3;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #6a2f41;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

mat-list {
  color: #f7f7f3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.document-selection {
  flex: 1;
  flex-direction: row;
}

.hamburger-menu {
  position: sticky;
  top: 0;
}
